[MAIN]
ignore=CVS,.git,scenarios,.bzr
persistent=yes
load-plugins=pylint_odoo

[MESSAGES CONTROL]
disable=all,unknown-option-value
enable=manifest-superfluous-key,
   no-search-all,
   # Ruff overrides
   assert-on-string-literal,
   assigning-non-slot,
   await-outside-async,
   bad-format-character,
   bad-open-mode,
   bad-staticmethod-argument,
   bad-str-strip-call,
   bad-string-format-type,
   bidirectional-unicode,
   binary-op-exception,
   chained-comparison,
   comparison-of-constants,
   comparison-with-itself,
   consider-merging-isinstance,
   consider-using-from-import,
   consider-using-in,
   consider-using-min-builtin,
   consider-using-sys-exit,
   continue-in-finally,
   dict-iter-missing-items,
   duplicate-bases,
   global-at-module-level,
   global-statement,
   global-variable-not-assigned,
   import-outside-toplevel,
   init-is-generator,
   invalid-all-format,
   invalid-all-object,
   invalid-bool-returned,
   invalid-bytes-returned,
   invalid-character-backspace,
   invalid-character-esc,
   invalid-character-nul,
   invalid-character-sub,
   invalid-character-zero-width-space,
   invalid-envvar-default,
   invalid-envvar-value,
   invalid-hash-returned,
   invalid-index-returned,
   invalid-length-returned,
   invalid-str-returned,
   logging-too-few-args,
   logging-too-many-args,
   misplaced-bare-raise,
   modified-iterating-set,
   named-expr-without-context,
   nan-comparison,
   nested-min-max,
   no-classmethod-decorator,
   no-staticmethod-decorator,
   non-ascii-module-import,
   non-ascii-name,
   nonlocal-and-global,
   nonlocal-without-binding,
   pointless-exception-statement,
   potential-index-error,
   property-with-parameters,
   redeclared-assigned-name,
   redefined-argument-from-local,
   redefined-slots-in-subclass,
   repeated-keyword,
   return-in-init,
   self-assigning-variable,
   shallow-copy-environ,
   single-string-used-for-slots,
   singledispatch-method,
   singledispatchmethod-function,
   subprocess-popen-preexec-fn,
   subprocess-run-check,
   super-without-brackets,
   too-many-arguments,
   too-many-locals,
   too-many-nested-blocks,
   too-many-public-methods,
   too-many-return-statements,
   typevar-double-variance,
   typevar-name-incorrect-variance,
   typevar-name-mismatch,
   unexpected-special-method-signature,
   unnecessary-dict-index-lookup,
   unnecessary-direct-lambda-call,
   unnecessary-dunder-call,
   unnecessary-lambda,
   unnecessary-list-index-lookup,
   use-implicit-booleaness-not-len,
   use-maxsplit-arg,
   use-sequence-for-iteration,
   used-prior-global-declaration,
   useless-else-on-loop,
   useless-import-alias,
   useless-return,
   useless-with-lock,
   yield-inside-async-function,

[REPORTS]
msg-template={path}:{line}:{column}: ({symbol}) {msg}
output-format=colorized
reports=no
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
score=no
